---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { marked } from "marked";
import { getChangelogs } from "~/util/changelogs";

const { changelogs } = await getChangelogs({
	deprecationsOnly: true,
});
---

<StarlightPage frontmatter={{ title: "Deprecations", template: "splash" }}>
	<p>
		Unless otherwise noted, all dates refer to the release date of the change.
	</p>
	<br />
	{
		changelogs.map(([date, entries]) => (
			<div>
				<h2>{date}</h2>
				{entries?.map((entry) => (
					<div
						data-product={entry.product.toLowerCase()}
						data-productArea={entry.productAreaName.toLowerCase()}
					>
						<h3>
							<a href={entry.link}>{entry.product}</a>
						</h3>
						<p set:html={marked.parse(entry.description ?? "")} />
					</div>
				))}
			</div>
		))
	}
</StarlightPage>
